@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


body{
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.1) .3px, transparent .2px), 
  linear-gradient(90deg, rgba(255, 255, 255, 0.1) .3px, transparent .2px);
  background-size: 3rem 3rem;
  background-color: #1A1D1E;
  overflow:hidden;
}
.main{
  display: flex;
  flex-direction: row;
  position: absolute;
}
.table{
  position: fixed;
  display: flex;
  flex-direction: column;
  cursor: move;
  align-items: center;
  background-color: transparent;
  max-width: 380px;
  min-width: 380px;
  min-height: 200px;
  border: 2px solid #9BA1A6;
  border-radius: 7px;
  z-index: 1;
}
.table > .table-name{
  justify-content: center;
  background: #4C5155;
  border-radius: 3px;
  margin-top: 5px;
  width: 95%;
  height: 40px;

}
.table-name > h3{
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}
.table > .attribute {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background: #2B2F31;
  border-radius: 3px;
  width: 95%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.element{
  width: 30%;
}
.element > h3{
  font-size: 18px;
  color: #fff;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}
.type{
  text-align: center;
}

.null{
  width: 15%;
}
.pk{
  width: 10%;
  text-align:end;
  justify-content: center;
}
.pk > h3{
    background: #4C5155;
    margin: 4px;
    border-radius: 50%;
    display: inline-flex;
    color: yellow;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
}
.navbar{
  background-color: #373a3b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}
.navbar > .brand{
  background: linear-gradient(to right,rgba(255, 225, 0, 1)  , rgba(21, 241, 202, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}